/*
QListWidgetがもともと持っている背景色を透明化し
トーストウィンドウの背景色に合わせる。
*/
QListWidget {
    background-color: transparent;
}

/*
マウスホバー有効時と同じレイアウトにするため
透明なボーダーを描画する。
*/
QListWidget::item {
    background: rgba(255, 212, 212, 0);
    selection-color: rgb(0, 0 ,0);
    border:1px solid rgba(255, 100, 100, 0);
}

/*
クリックして選択状態になったとき、文字が白色になると見づらいので
黒色のままにする。
*/
QListWidget::item:selected {
    selection-color: rgb(0, 0 ,0);
    border: 1px solid rgba(255, 100, 100, 0);
}



